<!-- <mat-slider min="1" max="100" step="1" value="1"></mat-slider> -->
<!-- <br>
<button mat-raised-button color="primary">
    Click!
</button> -->

<mat-toolbar>
    <span>Práctica Material & call API Rest</span>
</mat-toolbar>

<main>

    <mat-card>

        <mat-form-field>
            <input type="text" matInput placeholder="title" #title>
        </mat-form-field>

        <mat-form-field>
            <mat-select placeholder="Album id" #albumId>
                <mat-option *ngFor="let id of albumsId" value="id">
                    {{id}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field>
            <input type="text" matInput placeholder="URL" #url>
        </mat-form-field>

        <button mat-button mat-flat-button color="primary" style="display: block; width: 100%;">
            Save
        </button>

    </mat-card>

    <app-photos></app-photos>

</main>